


















body{
  background-color: smokewhite
}



.banner {
  background-color:lightseagreen;
  padding: 40px
}



body{
  text-align: center
}

.banner{
  text-align: center
}
.banner{
  margin: -34px
  
}

.button-1{
  margin: 100px
}

.button-1{
  background-color: #0bca8c;
  padding: 30px 
}
.button-1{
  font-family: monospace
}

.banner{
  font-family: monospace
}

marquee{
  font-family: monospace
}

.banner{
  font-size: 19px
  
}
.button-2{
  background-color: smokewhite;
  padding: 5px;
  font-family: monospace;
  border: 2px solid blue;
  margin-right: 90px
 
}

.button-3{
  background-color: smokewhite; 
  padding: 5px;
  font-family: monospace;
  border:2px solid blue;
  margin-right: 50px;
}

.button-4{
  background-color: smokewhite; 
  padding: 5px;
  font-family: monospace;
  border:2px solid blue;
  margin-left: 20px;
}




