  


body{
  background-image: Screenshotimage(Screenshot 2023-10-06 13.43.09.png) 
}; 

marquee{
  color: #0be3fd
};

h2{
  text-decoration-color:  color: orangered;
};

h1{
  align-content: center
};  
h1{
  content: inherit
}
h1 {
  text-align: center
}
p{
  text-align: center
}
h2{
 text-align: center
}
p{
  color: blue
}

h1 {
  border: 4px solid blue;
}

marquee{
  border: 2px solid blue; 
}

