


marquee{
  color: blue
};

h2{
  text-decoration-color:  color: orangered;
};

h1{
  align-content: center
};  
h1{
  content: inherit
}
h1 {
  text-align: center
}
p{
  text-align: center
}
h2{
 text-align: center
}
p{
  color: blue
}

h1 {
  border: 4px solid blue;
}

marquee{
  border: 2px solid blue; 
}

div{
  border : 1px solid #0000ff;
}

div{
   border-left: solid #0000ff;
}

div{
  border-bottom: solid #0000ff;
}

form{
  text-align: center
}

h3{
  color: blue
}

h2{
  color: blue
}

form{
  color: blue
}

h3{
  text-align: center
}
h1{
  color: blue
}

